{% extends "base.html" %} {% block styles %} {{ super() }}
<style>
  /** Custom CSS goes here **/
</style>
{% endblock %} {% block content %}
<div class="main-container">
  <div class="header-container">
    <div class="carrousel">
      <div class="slideshow-container">
        <div class="mySlides fade" style="display: block">
          <img src="./assets/contab.png" style="width: 100%" />
        </div>
        <div class="mySlides fade">
          <img src="./assets/fat.png" style="width: 100%" />
        </div>
        <div class="mySlides fade">
          <img
            src="./assets/fin.png"
            style="width: 100%"
          />
        </div>
      </div>
      <br />
      <div style="text-align: center">
        <span class="dot active" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div>
    </div>
    <div class="title-container">
      <h1>IDEA BUSINESS ANALYTICS</h1>
      <h2>
        Três Relatórios <span>Financeiros</span> para suprir todas as suas
        necessidades.
      </h2>
      <div class="checklist">
        <check-list data-key="default">
          <div class="checklist">
            <ul class="contains-task-list">
              <li class="task-list-item">
                <label>
                  <input type="checkbox" />
                  <span>Contabilidade</span>
                </label>
              </li>
              <li class="task-list-item">
                <label>
                  <input type="checkbox" />
                  <span>Financeiro</span>
                </label>
              </li>
              <li class="task-list-item">
                <label>
                  <input type="checkbox" />
                  <span>Faturamento</span>
                </label>
              </li>
            </ul>
          </div>
        </check-list>
      </div>
      <div class="center-button">
        <button href="#" class="btn-saiba-mais">Saiba Mais</button>
      </div>
    </div>
  </div>
  <div class="about-container">
    <div class="about-text">
        <p> 
          Há <strong style="color: var(--color-yellow);">15 anos</strong>, a Idea Technology se especializa em extrair inteligência de negócios a partir de dados.
        </p>
        <p>
          Desenvolvemos soluções corporativas que controlam e entregam informações estratégicas, permitindo uma tomada de decisão ágil por meio de relatórios personalizados. Como Parceiros Microsoft, utilizamos a ferramenta Power BI para visualizar esses relatórios de forma dinâmica e eficiente.
        </p>
        <p>
          Recentemente, criamos um conjunto de <strong style="color: var(--color-yellow);">três relatórios</strong> financeiros que oferecem uma nova facilidade de acesso e compreensão para empresas que utilizam o SAP Business One.
        </p>
    </div>
  </div>
</div>
{% endblock %}
