{% extends "base.html" %} {% block styles %} {{ super() }}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<style>

</style>

{% endblock %} {% block content %}
<div class="main-container">
  <div class="header-container">
    <div class="carrousel">
      <div class="slideshow-container">
        <div class="mySlides fade" style="display: block">
          <img src="./assets/contab.png" style="width: 100% " />
        </div>
        <div class="mySlides fade">
          <img src="./assets/fat.png" style="width: 100%" />
        </div>
        <div class="mySlides fade">
          <img src="./assets/flux.png" style="width: 100%" />
        </div>
      </div>
      <br />
      <div style="text-align: center">
        <span class="dot active" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div>
    </div>
    <div class="title-container">
      <h1>IDEA ANALYTICS</h1>
      <p>O Idea Analytics são Dashboards feitos em Power BI para o SAP B1 Hana, que ajudarão você a analisar com eficiência os indicadores de Vendas, Finanças e Contabilidade da sua empresa. Eles estão divididos em:</p>
      <a href="./faturamento/ficha_tecnica">
        <h2>Idea Sales</h2>
      </a>
      <p>BI de Vendas: criado para facilitar e dar agilidade com o monitoramento de metas, resultados, margem lucro, produtos mais vendidos, e muitos outros indicadores.</p>
      <p>Veja nossa <a href="./faturamento/demo">Demonstração</a></p>
      <a href="./financeiro/ficha_tecnica">
        <h2>Idea Finance</h2>
      </a>
      <p>BI Financeiro: facilita a análise de desempenho financeiro, identifica tendências, monitora KPIs e ajuda na previsão e planejamento orçamentário, otimizando a saúde financeira da empresa. </p>
      <a href="./contabilidade/ficha_tecnica">
        <h2>Idea Accounting</h2>
      </a>
      <p>BI Contábil: auxilia na auditoria, conformidade regulatória, gestão de balanços e demonstrações financeiras, além de suportar a tomada de decisões estratégicas com base em indicadores e informações contábeis detalhadas e confiáveis.</p>
    </div>
  </div>
</div>
{% endblock %}
