{% extends "base.html" %} {% block styles %} {{ super() }}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<style>

</style>
{% endblock %} {% block content %}
<div class="main-container">
  <div class="header-container">
    <div class="carrousel">
      <div class="slideshow-container">
        <div class="mySlides fade" style="display: block">
          <img src="./assets/contab.png" style="width: 100%" />
        </div>
        <div class="mySlides fade">
          <img src="./assets/fat.png" style="width: 100%" />
        </div>
        <div class="mySlides fade">
          <img src="./assets/fin.png" style="width: 100%" />
        </div>
      </div>
      <br />
      <div style="text-align: center">
        <span class="dot active" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div>
    </div>
    <div class="title-container">
      <h1>IDEA BUSINESS ANALYTICS</h1>
      <h2>
        Três Relatórios <span>Financeiros</span> para suprir todas as suas
        necessidades.
      </h2>
      <div class="checklist">
        <ul class="ul-checklist">
          <li>
              <span>Contabilidade</span>
          </li>
          <li>
              <div style="display: flex; align-items: center">
                <span>Idea Finance</span>
                <a
                  href="financeiro/ficha-tecnica"
                  style="display: flex; align-items: center"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-arrow-right"
                    viewBox="0 0 16 16"
                    style="margin-left: 5px"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                    />
                  </svg>
                </a>
              </div>
          </li>
          <li class="task-list-item">
              <div style="display: flex; align-items: center">
                <span>Faturamento</span>
                <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16" style="margin-left: 5px;">
                      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                    </svg> -->
              </div>
          </li>
        </ul>
      </div>
      <div class="center-button">
        <button href="#" class="btn-saiba-mais">Saiba Mais</button>
      </div>
    </div>
  </div>
  <div class="about-container">
    <div class="about-text">
      <p>
        Há <strong style="color: var(--color-yellow)">15 anos</strong>, a Idea
        Technology se especializa em extrair inteligência de negócios a partir
        de dados.
      </p>
      <p>
        Desenvolvemos soluções corporativas que controlam e entregam informações
        estratégicas, permitindo uma tomada de decisão ágil por meio de
        relatórios personalizados. Como Parceiros Microsoft, utilizamos a
        ferramenta Power BI para visualizar esses relatórios de forma dinâmica e
        eficiente.
      </p>
      <p>
        Recentemente, criamos um conjunto de
        <strong style="color: var(--color-yellow)">três relatórios</strong>
        financeiros que oferecem uma nova facilidade de acesso e compreensão
        para empresas que utilizam o SAP Business One.
      </p>
    </div>
  </div>
</div>
{% endblock %}
