:root {
  --color-base-green: 158, 79%;
  --color-base-white: 0, 0%;
  --color-base-gray: 250, 14%;

  --color-gray-80: var(--color-base-gray), 80%;
  --color-gray-90: var(--color-base-gray), 90%;
  --color-gray-95: var(--color-base-gray), 95%;

  --color-green: var(--color-base-green), 42%;
  --color-yellow: #f8be3e;

  --theme-shade-subtle: hsla(var(--color-gray-95), 0.4);
  --theme-text: hsla(var(--color-gray-90), 1);
  --theme-text-light: hsla(var(--color-gray-80), 1);
  --theme-bg: hsl(256, 27%, 19%);

  --color-text-primary: #212121;
  --color-text-secondary: #757575;

  --md-text-font: "TahomaRegular"; 

}

[data-md-color-scheme="slate"] {
  --color-text-primary: #E0E0E0;
  --color-text-secondary: #BDBDBD;
}